
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AjaxDemo</title>
    <script src="~/Scripts/jquery-2.1.4.js"></script>
    <script>
        $(function () {

            $("#button1").click(function () {

                $.ajax({
                    type: "POST",
                    url: "/CustomerInfo.asmx/GetCustomer",
                    data: '{"id":"' + $("#Text1").val() + '"}',
                    contentType:"application/json;charset=utf-8",
                    success: function (data) {
                        console.log(data);
                        $("#result").text(data.d.CustomerId + "-" + data.d.Name);
                    }


                })
            });
        });
    </script>
</head>
<body>
    <div> 
        id=<input id="Text1" type="text" value="123" />
        <input id="button1" type="button" value="Get ID" />
        <div id="result">...</div>

    </div>
</body>
</html>
