@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HoverDemo</title>
    <style>
        h1:hover {
            background: orange;
        }
    </style>
    <script src="~/Scripts/jquery-2.1.4.js"></script>
    <script>

        //window.onload = function () {

        //    var nodes = document.getElementsByTagName("h1");

        //    for (var i = 0; i < nodes.length; i++) {

        //        nodes[i].onmouseover = function () {
        //            this.style.backgroundColor = "pink";
        //        }
        //        nodes[i].onmouseout = function () {
        //            this.style.backgroundColor = "";
        //        }

        //    }

        //}

        //$(function () {

        //    $("h1").mouseover(function () {
        //        $(this).css("background-color", "lightblue");
        //    });
        //    $("h1").mouseout(function () {
        //        $(this).css("background-color", "");
        //    });

        //});

    </script>
</head>
<body>
    <div>
        <h1>H1 Tag....</h1>
        <h1>H1 Tag....</h1>
        <h1>H1 Tag....</h1>
        <h1>H1 Tag....</h1>
    </div>
</body>
</html>


