
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index2</title>
    <script src="~/Scripts/jquery-2.1.4.js"></script>
    <script src="~/Scripts/JavaScript1.js"></script>
    <script>
        $(function () {
            $("#Button2").click(function () {
                clickme();
            });

            $("#Button3").bind("click",function () {
                clickme();
            });

            $("#Text1").val("Mary"); 
            $("#Button4").bind("click", function () {
                
                alert("Hello," + $("#Text1").val());
            });
        });
    </script>

</head>
<body>
    <div>

        <input id="Button2" type="button" value="DOM Level 0 Test" />
        <input id="Button3" type="button" value="DOM Level 0 Test" /> 
        Name:<input id="Text1" type="text" />
        <input id="Button4" type="button" value="hello" />
    </div>
</body>
</html>
